body{
    font-family: "Lobster Two", sans-serif;
}

.bg-greenyellow{
    background: linear-gradient(90deg, #d6aa68 0, #c3a880 50%, #fffbf5 100%);
   
}

.border-bottom-dark{
    border-bottom: 2px solid rgba(41,41,41,1);
}

.aside-buttons > li{
    margin-bottom: 10px;
}
.border-top-dark{
    border-top:1px solid rgb(69, 189, 69);
}